// Header
// -


// Rules

.#{$prefix}-header {

    width: 100%;
    background-color: $color-white;
    z-index: 988;
    box-shadow: $default-box-shadow;

    &__logo {
        > img {
            height: 90px;
        }
    }

    &.fixed {
        position: fixed;
    }

}

