// Links
// --- 

// Extended also by .btn-link
%isl-link-default-values {
  @include transition(all 0.2s ease-in);

  text-decoration: none;
  font-weight: bold;
  color: inherit;
  opacity: 1;
  position: relative;
  display: inline-block;

  &::after {
    display: block;
    content: '';
    border-bottom: 1px dashed $link-proj-hover-bottom-color;
  }

  &:hover {
    @include transform(scale(0.95));

    opacity: $link-proj-hover-opacity;
  }
}

.#{$prefix}:not(.liferay-instance) {

  .#{$prefix}-link {
    @extend %isl-link-default-values;
  }
}
