// Bootstrap customization
.pagination {

    > .page-item {
        margin:1px;

        > .page-link {
            min-width: 25px;
            height: 25px;
            border: none;
            border-radius: 0;
            font-size: 16px;
            text-align: center;
            color: $color-blue;
            background-color: transparent;
            &:focus, &:hover {
                box-shadow: none;
            }

            i {
                font-size: 11px !important;
            }

        }

        &.active {
            > .page-link {
                background-color: $color-blue;
                color: $color-white;
            }
        }
    }
  
}