// Color definitions
// -

// Project Color Pallete

$white: #fff;
$gray: #939393;
$light-gray: #EDEDED;
$darkish-gray: #d8d8d8;
$dark-gray: #6A6A6A;
$darkest-gray: #292929;
$blueish-gray: #7d9aaa;

// Bootstrap Main Colors
// $default: $green;
// $primary: $green;
// $secondary: $gray;
// $success: $light-green;
// $info: $purple;
// $warning: $orange;
// $danger: $red;
// $light: $white;
// $dark: $darkest-gray;
// $gray: $gray;


// Theme Base Colors
// $theme-colors: ();
// $theme-colors: (

// 	default: $default,
// 	primary: $primary,
// 	secondary: $secondary,
// 	success: $success,
// 	info: $info,
// 	warning: $warning,
// 	danger: $danger,
// 	light: $light,
// 	dark: $dark,
// 	gray: $gray,

// );

// Global Component Colors
// $body-bg:               $light;
// $body-color:            $darkest-gray;
// $link-color:            $default;
// $link-hover-color:      $default;
// $borders:               $dark;
// $background-color:      $light;



