// ------------------
// Color definitions
// ------------------

// Project colors
// --

// Colors
// -

$color-white: #FFF;
$color-black: #000;

$color-gray: #707070;
$color-dark-gray: #2f2f2f;
$color-light-gray: #F3F2F9;
$color-lightest-gray: #F2F2F2;
$color-darkest-gray: #1C1C1C;
$color-blue: #255ADE;
$color-dark-blue: #293C80;
$color-dark-middle-blue: #002D68;
$color-darkest-blue: #212240;
$color-red: #E43E2C;
$color-yellow: #e9b642;

// Theme colors (bootstrap colors)
// -  
$theme-colors: ();
$theme-colors: map-merge((

  // default:            $default,
  primary:            $color-blue,
  // secondary:          $secondary,
  // success:            $success,
  // info:               $info,
  warning:            $color-red,
  // danger:             $danger,
  // light:              $light,
  // dark:               $dark,
  gray: $color-gray,
  blue: $color-blue,
  yellow: $color-yellow

), $theme-colors);

// Global Component Colors
// --
$body-bg: $color-light-gray;
$body-color: $color-darkest-blue;
$link-color: $color-blue;