// Card settings
// ---

$project-card-radius-base:          10px;
$project-card-shadow:               $project-shadow;
$project-card-default-bg-color:     $white;
$project-card-padding:              15px;
