// Since we are importing code from other places
// scss-lint:disable DuplicateProperty, Shorthand, TrailingWhitespace

// Useful Mixins
// ----

@mixin card-box($radius: $card-proj-radius-base, $shadow: $card-proj-shadow, $bg-color: $card-proj-default-bg-color, $padding: $card-proj-padding) {
    border-radius: $radius;
    box-shadow: $shadow;
    background-color: $bg-color;
    padding: $padding;
    margin: 0 0 25px 0;
}

@mixin alloy-font-awesomize($allow-fa-margin-right-value: .3em) {
    font-family: 'fontawesome-alloy';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    margin-right: $allow-fa-margin-right-value;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
}
